@media  screen and (max-width:700px){
    
    header .container {
        display: flex;
        flex-direction: column;
    }
    #logo {
        margin: 0;
        margin-bottom: 8px;
    }
    .destaques .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin: 0;
        text-align: center;
    }
    .destaques .titulo {
        margin-top: 4%;
        margin-bottom: 15px;
        width: 60%;
        font-size: 2.2em;
        font-family: 'Trebuchet MS',  Arial, sans-serif;
    } 
    .destaques .descricao {
        margin-top: 8px;
        width: 60%;
        margin-bottom: 20px;
        font-size: 0.9em;
    }   
    .destaques .envelope-btn {
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
    }
    .destaques .btn {
        margin: 0;                /*ZERAR A MARGEM AQUI PERMITECONSEGUIR ALINHAR PERFEITAMENTE OS
                                    OS BOTÕES, COISA QUE A MARGEM DIREITA CONFIGURADA EM MAIN.CSS
                                    IMPEDIRIA*/
        margin-bottom: 0.5em;
    }


/* CORREÇÃO DO MENU SUPERIOR, EM QUE A LETRA TRANSBORDA O FUNDO PRETO QUANDO NO PADRÃO RESPONSIVO */


    header #logo {
    color: var(--vermelho);
    font-family: sans-serif, arial, times;
    font-size: 38px;
    margin-bottom: 2px;
}



/*É PRECISO FAZER A ALTERAÇÃO DO MENU ESTÁTICO TAMBÉM, MESMO ELE SENDO TANSPARENTE, SE NÃO QUANDO 
ROLAR A PÁGINA AS LETRAS VÃO "SALTAR"*/
.menuEstatico {                         /* MODIFICAÇÃO DO MENU DE ACORDO COM O SCROLL (C/ JQUERY) */
    background-color: rgba(0,0,0,0);
    height: 70px;
}

.menuScroll {                           /* MODIFICAÇÃO DO MENU DE ACORDO COM O SCROLL (C/ JQUERY) */
    background-color: var(--preto);
    height: 70px;
}

header .container {
    justify-content: center;
}

}

@media screen and (max-width: 364px){

/* AUMENTA O TAMANHO DO FUNDO DO HEADER, PARA CABER TODAS AS LETRAS: */

    .menuEstatico {                         /* MODIFICAÇÃO DO MENU DE ACORDO COM O SCROLL (C/ JQUERY) */
        background-color: rgba(0,0,0,0);
        height: 93px;
    }
    
    .menuScroll {                           /* MODIFICAÇÃO DO MENU DE ACORDO COM O SCROLL (C/ JQUERY) */
        background-color: var(--preto);
        height: 93px;
    }

/* DEIXA OS ITENS DE MENU JUSTIFICADOS NO CENTRO: */

    header nav {
        text-align: center;
        line-height: 1.2em;
    }

    .fonteEstatica {                     /* MODIFICAÇÃO DO MENU DE ACORDO COM O SCROLL (C/ JQUERY) */
        display: inline;
    }
    
    .fonteScroll {                       /* MODIFICAÇÃO DO MENU DE ACORDO COM O SCROLL (C/ JQUERY) */
        display: inline;
    }


/* MELHORA A PROPORÇÃO E O TAMANHO DO TÍTULO E DA DESCRIÇÃO, E GARANTE MARGEM SUFICIENTE ENTRE
O TÍTULO E O CABEÇALHO ESTÁTICO: */

.destaques .titulo {
    width: 75%;
    font-size: 2.1em;
    font-family: 'Trebuchet MS',  Arial, sans-serif;
}

.destaques .descricao {
    margin-top: 8px;
    width: 75%;
    margin-bottom: 20px;
    font-size: 0.8em;
    line-height: 1.5em;
}

/* CORRIGE A DISTÂNCIA ENTRE OS BOTOES E OS VÍDEOS: */

.destaques .envelope-btn {
    margin-bottom: 30px;
}

}